.main-heading {
  text-align: center;
}
.profile-box {
  height: 200px;
  width: 200px;
  border: 5px solid grey;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px;
}

.profile-placeholder {
  position: relative;
  top: 30%;
  text-align: center;
}

.user-attr {
  margin-top: 5%;
  margin-bottom: 5%;
  text-align: center;
}
.user-text {
  display: inline;
  font-size: 15px;
}

.friend-body {
  display: inline;
  margin-left: auto;
  margin-right: auto;
}

.friend-body-text {
  text-align: center;
}

.friends-list-div {
  display: inline;
  margin-left: auto;
  margin-right: auto;
}

.friends-list-btn {
  margin-left: 45%;
}
