.main-heading {
  text-align: center;
  display: inline-block;
  position: absolute;
  left: 45%;
}

.logout {
  display: inline-block;
  position: absolute;
  right: 20px;
  cursor: pointer;
}
.profile-box {
  height: 200px;
  width: 200px;
  border: 5px solid lightblue;
  display: inline-block;
  margin-left: 42%;
  margin-bottom: 50px;
  margin-top: 75px;
}

.username {
  text-align: center;
  margin-bottom: 50px;
}

.user-attr {
  margin-top: 5%;
  margin-bottom: 5%;
  text-align: center;
}
.user-text {
  display: inline;
  font-size: 15px;
  margin-right: 15px;
}

.friend-body {
  display: inline;
  margin-left: auto;
  margin-right: auto;
}

.friend-body-text {
  text-align: center;
}

.friends-list-div {
  display: inline;
  margin-left: auto;
  margin-right: auto;
}

.friends-list-btn {
  margin-left: 45%;
}
