.main-heading {
  text-align: center;
  display: inline-block;
  position: absolute;
  left: 45%;
}

.logout {
  display: inline-block;
  position: absolute;
  right: 20px;
  cursor: pointer;
}

.locations {
  display: inline-block;
  position: absolute;
  top: 20%;
  left: 5%;
  text-align: center;
  border: 1px solid grey;
  border-radius: 20px;
  padding: 20px;
}

.messages-home {
  display: inline-block;
  position: absolute;
  top: 20%;
  right: 15%;
  text-align: center;
  border: 1px solid grey;
  border-radius: 20px;
  padding: 20px;
}

.profile-box {
  height: 200px;
  width: 200px;
  border: 5px solid lightblue;
  display: inline-block;
  margin-left: 42%;
  margin-bottom: 50px;
  margin-top: 75px;
}

.username {
  text-align: center;
  margin-bottom: 50px;
}

.user-attr {
  margin-top: 5%;
  margin-bottom: 5%;
  text-align: center;
}
.user-text {
  display: inline;
  font-size: 15px;
  margin-right: 15px;
}

.friend-body {
  display: inline;
  margin-left: auto;
  margin-right: auto;
}

.friend-body-text {
  text-align: center;
}

.friends-list-div {
  display: inline;
  margin-left: auto;
  margin-right: auto;
}

.friends-list-btn {
  margin-left: 45%;
}

.button-link {
  text-decoration: none;
}

.button-link:hover {
  text-decoration: none;
}

.friendslist-link {
  color: white;
}

.friendslist-link:hover {
  color: white;
}

.messages-link {
  color: black;
}

.messages-link:hover {
  color: black;
}

.location:visited {
  color: #0d6efd;
}
